.logo{
    width: 50px;
    height: 50px;
    
    }
    body{
    
        background-color: blanchedalmond;
    
    }
    .moving_img {
        position: absolute;
         width: 250px;
         animation-duration: 10s;
       
      }
      
      .div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      @keyframes img {
        0% {
         margin-top:20%;
          margin-left: 20%;
        }
        25% {
          margin-top: 20%;
          margin-right: 20%;
        }
        50% {
          margin-bottom: 20%;
          margin-right: 20%;
        }
        75% {
          margin-bottom: 20%;
          margin-left: 20%0;
        }
        100% {
          margin-top: 20%;
          margin-left: 20%;
        }
      }
    